
@{
    ViewBag.Title = "LogOut";
}

<h2>Log Out for page</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <table>
        <tr>
            <td>
                @Html.ActionLink("Index", "Home")
            </td>
        </tr>
    </table>
}
